# .env.example
OPENAI_API_KEY=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
NEXT_PUBLIC_SUPABASE_URL=https://azpcljcxjghbbnqoezmd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF6cGNsamN4amdoYmJucW9lem1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI1NjI3OTksImV4cCI6MjA1ODEzODc5OX0.uL3W9FTpvsTpJH9qEi_gHvycO8UIaw0dyYo0KiE85JU